$btn-purple: #7936EC !default;
$btn-pink: #C35BAD !default;
$btn-red: #FF7979 !default;

$black: #3D3D3D !default;
$red: #FA5151 !default;
$green: #00B578 !default;
$dark-gray: #959393 !default;
$light-gray: #D8D8D8 !default;

$bg-yellow: #FFC300 !default;
$bg-orange: #FFAF84 !default;
